.title {
    color: white;
}
h1 {
    font-weight: 300;
    font-size: 8rem;
}

.subtitle {
    font-weight: 300;
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 6rem;
    }
    .subtitle {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 5rem;
    }
    .subtitle{
        font-size: 1rem;
    }
}
