.container-fluid {
    width: 100%;
}

.aboutContainer {
    height: 100vh;
    overflow: scroll;
    margin-bottom: 10%;
}

.aboutApp {
    align-content: center;
    padding: 30px;
    padding-top: 60px;
    margin-top: 50px;
    height: 300px;
    background: rgb(255, 255, 255, .5);
}
.jumbotron-heading {
    margin-bottom: 30px;
    font-weight: 400;
}

.lead {
    max-width: 45rem;
    margin: 0 auto;
}

.strong {
    font-weight: 400;

}

.creatorContainer {
    background: rgb(65, 139, 6, .5);
    padding: 30px;
}

.avatar {
    padding: 20px;
    background: rgb(255, 255, 255, .5);
}
.rounded-circle {
    width: 250px;
    height: 250px;
}