.about {
    padding: 0px;
  margin-top: 5%;
  overflow: scroll;
  background: rgb(255, 255, 255, 0.8);
  margin-bottom: 5%;
}

.aboutApp {
  margin: 0;
  padding: 30px;
}

.creatorContainer {
  margin: 0;
  padding: 30px;
  background: rgb(65, 139, 6, .5);
  height: 500px;
}

.card {
 
  margin: 0 auto;
  bottom: 10%;
}

.card-body {
    background: white;
}

.avatar {
    border: 0.3rem solid rgba(#fff, 0.3);
    margin-top: -6rem;
    margin-bottom: 1rem;
    max-width: 9rem;
}
.fa {
    padding: 10px;
}

@media screen and (max-width: 991px) {
    .creatorContainer {
        overflow: scroll;
    }
  #camCard {
    margin-top: 100px;
    margin-bottom: 50px;
  }
}


